.catalog-cards {
  padding: 30px;
  display: grid;
  justify-content: stretch;
  margin: 0;
  list-style-type: none;
}

.catalog-cards__list {
  margin: 0 auto;
  padding: 0 30px;
  list-style: none;
}

.catalog-cards__item {
  min-width: 260px;
  max-width: 260px;
  margin: 0 auto;
}

.catalog-cards__price {
  padding-top: 22px;
  padding-bottom: 32px;
}


.catalog-cards__info {
  font-family: $ff-open-sans;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: $color-default-black;

  mix-blend-mode: normal;
  text-decoration: none;
}

.catalog-cards__wrapper {
  margin-bottom: 30px;
  padding: 28px 32px 0 28px;
  border: 1px solid $color-whisper;
}

.catalog-cards__product {
  padding-bottom: 17px;
  border-bottom: 1px solid $color-whisper;
}

.catalog-cards__description {
  font-family: $ff-open-sans;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: $color-charcoal;

  mix-blend-mode: normal;
}

.catalog-cards__price-value {
  font-family: $ff-open-sans;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: $color-default-black;

  mix-blend-mode: normal;
}


.catalog-cards__image {
  width: 100%;
}

