.catalog__title {
  font-family: $ff-open-sans;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  display: block;
  align-items: center;
  text-align: center;

  color: $color-default-black;

  mix-blend-mode: normal;
  }

.catalog__title-wrapper {
  padding: 73px 30px;
  background-color: $color-white-smoke;;
}
