.catalog-cards {
  display: grid;
  justify-content: stretch;
  margin: 0;
  padding: 30px;

  list-style-type: none;

  @media (min-width: $vp-768) {
    padding: 79px 50px 53px 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 129px 50px 57px;
  }
}

.catalog-cards__list {
  margin: 0 auto;
  padding: 0 30px;

  list-style: none;

  @media (min-width: $vp-768) {
    justify-content: center;
  }

  @media (min-width: $vp-1150) {
    display: flex;
    justify-content: space-between;

    gap: 50px;
    grid-template-columns: repeat(3, 316px);
    row-gap: 50px;
  }
}

.catalog-cards__item {
  display: grid;
  min-width: 260px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: 668px;
    margin-bottom: 54px;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1150) {
    display: flex;
    flex-direction: column;
    max-width: 668px;
    margin-bottom: 54px;
  }
}

.catalog-cards__price {
  padding-top: 22px;
  padding-bottom: 32px;
}

.catalog-cards__info {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-default-black;
  text-decoration: none;

  mix-blend-mode: normal;
}

.catalog-cards__wrapper {
  margin-bottom: 30px;
  padding: 28px 32px 0 28px;

  border: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}

.catalog-cards__product {
  padding-bottom: 17px;

  border-bottom: 1px solid $color-whisper;
}

.catalog-cards__description {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  font-family: $ff-open-sans;
  color: $color-charcoal;

  mix-blend-mode: normal;
}

.catalog-cards__price-value {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-default-black;

  mix-blend-mode: normal;
}

.catalog-cards__image {
  width: 100%;
  height: 100%;
}
