.contacts {
  position: relative;

  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 57px;

    &::before {
      content: "";
      position: absolute;
      top: 46px;
      right: 53px;

      width: 47px;
      height: 81px;

      background-image: url("../img/svg/contacts-flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    padding: 148px 577px 105px 224px;

    &::before {
      top: 131px;
      left: 113px;
    }
  }
}

.contacts__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    max-width: 350px;
    margin-bottom: 35px;
  }
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 62px;

  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__mail-wrapper {
  display: grid;
  margin-bottom: 29px;

  grid-template-columns: 78px 183px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;

    grid-template-columns: 78px 230px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.contacts__mail-shop {
  margin: 0;
}

.contacts__mail-shop-link {
  color: $color-charcoal;
  text-decoration: none;

  border-bottom: 1px solid $color-downy;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }

  &:hover {
    color: $color-puerto-rico;

    border-color: $color-puerto-rico;
  }

  &:active {
    border-color: rgba($color-puerto-rico, 10%);
  }
}

.contacts__address-wrapper {
  display: grid;

  gap: 2px;
  grid-template-columns: 76px 183px;

  @media (min-width: $tablet-width) {
    gap: 0;
    grid-template-columns: 78px 230px;
  }
}

.contacts__address-shop {
  font-style: normal;
}

.contacts__map-wrapper {
  position: relative;

  margin: 0 -30px;

  @media (min-width: $tablet-width) {
    margin: 0 -50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 71px;
    right: 50px;

    width: 435px;
    height: 457px;
    margin: 0;
  }

  @media (min-width: $desktop-width-max) {
    width: 527px;
  }
}

.contacts__map-image {
  z-index: -1;

  display: block;
  width: 320px;
  height: 454px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 454px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;

    width: 435px;
    height: 454px;
    margin: 0;
  }

  @media (min-width: $desktop-width-max) {
    position: absolute;
    top: 0;
    right: 0;

    width: 527px;
    height: 454px;
  }
}

.contacts__map-script {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.contacts__button {
  margin: 43px auto 0 auto;

  font-size: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 58px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 84px auto 0 1px;
  }
}
