.contacts__wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
}

.contacts__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
  margin: 0 0 28px 0;
}

.contacts__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #444444;

  mix-blend-mode: normal;
}

.contacts__email-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #444444;

  mix-blend-mode: normal;
  text-decoration: underline;
  text-decoration-color: #62d1ba;
}

.contacts__address {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  align-items: center;

  color: #444444;

  mix-blend-mode: normal;
}

.contacts__container-mail {
  display: flex;
}

.contacts__container-address {
  display: flex;
}
