.form {
  @media (min-width: $tablet-width) {
    margin: 0 -50px;
  }
}

.form__point {
  margin: 0;
  padding: 0;

  border: none;
}

.form__point--darken {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: $color-white-smoke;
      transform: translateX(-50%);
    }
  }
}

.form__point-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: baseline;
    padding: 50px;

    grid-template-columns: 168px auto;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 97px;

    grid-template-columns: 114px auto;
  }

  &--type {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 30px;
      padding-bottom: 23px;
    }
  }

  &--color {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 31px;
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 23px;
    }
  }

  &--initials {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 24px;
      padding-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 23px;
    }
  }

  &--tel {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 42px;
      padding-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 44px;
    }
  }

  &--email {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 8px;
    }
  }

  &--additionally {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-bottom: 44px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 40px;
    }
  }
}

.form__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }

  &--type,
  &--color,
  &--initials,
  &--tel,
  &--email,
  &--additionally {
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      left: 60px;

      width: auto;
      height: 1px;

      background-color: $color-downy;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--additionally {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      margin-bottom: 0;
      padding-top: 19px;
    }
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--type {
    padding: 36px 0 43px 0;

    @media (min-width: $desktop-width) {
      padding-left: 15px;
    }
  }

  &--color {
    padding: 28px 0 37px 0;

    @media (min-width: $tablet-width) {
      display: grid;
      margin-bottom: -7px;
      padding: 30px 0 22px 0;

      gap: 0 24px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      padding-top: 30px;
      padding-bottom: 0;
      padding-left: 16px;

      gap: 0 32px;
      grid-template-columns: repeat(3, 230px);
    }
  }

  &--initials {
    padding: 24px 0 35px 0;

    @media (min-width: $tablet-width) {
      padding: 23px 0 35px 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 15px;
    }
  }
}

.form__item {
  &--type {
    position: relative;

    margin-bottom: 24px;
    padding-left: 61px;

    line-height: 1;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
      padding-left: 0;
    }
  }

  &--color {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      width: 208px;
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 46px;
    }
  }

  &--initials {
    margin-bottom: 22px;
  }

  &--name,
  &--surname,
  &--patronymic {
    max-width: 698px;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 21px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__label {
  cursor: pointer;

  &--type {
    @media (min-width: $tablet-width) {
      position: relative;

      padding-left: 79px;
    }
  }

  &--color {
    position: relative;

    padding-left: 61px;

    @media (min-width: $tablet-width) {
      padding-left: 80px;
    }
  }
}

.form__control-mark {
  position: absolute;
  left: 0;

  border: 2px solid $color-charcoal;

  &:hover {
    border: 2px solid $color-downy;
  }

  &:active {
    border: 2px solid rgba($color-default-black, 30%);
  }

  &--radio {
    top: -12px;
    left: -1px;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -15px;
      left: 1px;

      width: 52px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      left: -1px;
    }
  }

  &--checkbox {
    top: -8px;

    width: 38px;
    height: 38px;

    @media (min-width: $tablet-width) {
      top: -13px;

      width: 52px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      top: -17px;
      left: -1px;
    }
  }
}

.form__control-input[type="radio"]:checked + .form__control-mark--radio::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;

  width: 18px;
  height: 18px;

  background-color: $color-downy;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 13px;

    width: 23px;
    height: 23px;
  }
}

.form__control-input[type="checkbox"]:checked + .form__control-mark--checkbox::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;

  width: 26px;
  height: 21px;

  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-size: 90%;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 7px;

    width: 32px;
    height: 22px;

    background-image: url("../img/svg/tick-tablet.svg");
    background-repeat: no-repeat;
    background-position: 1px 2px;
    background-size: 95%;
  }
}

.form__control-input:focus + .form__control-mark {
  border: 2px solid $color-dark-cyan;
}

.form__label--initials {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__initials-input {
  font-family: inherit;

  @media (min-width: $tablet-width) {
    max-width: 573px;
  }

  &--name {
    @media (min-width: $tablet-width) {
      max-width: 626px;
    }
  }
}

.form__name {
  font-weight: 700;
  line-height: 18px;
  color: $color-default-black;

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--name {
      margin-right: 24px;
    }

    &--surname {
      margin-right: 25px;
    }

    &--patronymic {
      margin-right: 27px;
    }
  }
}

.form__initials-input,
.form__tel,
.form__mail {
  width: 100%;
  padding: 12px 0;

  font-size: 17px;
  line-height: 18px;
  font-family: inherit;

  background-color: inherit;
  border: none;
  border-bottom: 2px solid $color-default-black;

  &:hover {
    border-bottom: 2px solid $color-downy;
  }

  &:active {
    color: $color-charcoal;

    border-bottom: 2px solid $color-downy;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 17px;

    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 17px;
  }
}

.form__tel {
  padding: 18px 0;

  @media (min-width: $tablet-width) {
    padding: 16px 16px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }
}

.form__mail {
  padding: 18px 0;

  @media (min-width: $tablet-width) {
    padding: 14px 16px;
  }
}

.form__phone,
.form__email {
  position: relative;

  margin-bottom: 35px;

  &:hover,
  &:active {
    .form__icons {
      color: $color-downy;

      opacity: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 715px;
    padding-left: 15px;
  }
}

.form__icons {
  position: absolute;
  top: 16px;
  right: 6px;

  color: $color-default-black;

  opacity: 20%;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 10px;
  }

  &--letter {
    top: 20px;
    right: 4px;

    @media (min-width: $tablet-width) {
      right: 21px;
    }

    @media (min-width: $desktop-width) {
      right: 6px;
    }
  }
}

.form__message {
  width: 100%;
  padding: 15px;

  font-size: 17px;
  line-height: 18px;
  font-family: inherit;

  border: 2px solid $color-charcoal;

  resize: none;

  &:hover {
    border: 2px solid $color-downy;
  }

  &:active {
    color: $color-charcoal;

    border: 2px solid $color-downy;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 0 $color-downy;
  }

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin-bottom: 0;

    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }
}

.form__note-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    margin: 0 90px;
  }
}

.form__note {
  margin: 0;
  padding-top: 7px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  margin-top: 30px;

  background-color: $color-default-white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 168px;
    margin-left: 135px;
  }
}
