.form__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  mix-blend-mode: normal;
  background-color: #f1f1f1;;
}

.form__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #444444;

  mix-blend-mode: normal;
}

.form__field-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #63D1BB;

  mix-blend-mode: normal;
  color: #63d1bb;
}

.field-radio__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}

.field-checkbox__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}

.field-text__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}

.field-text__input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.3;
}

.form__notice-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: #444444;

  mix-blend-mode: normal;
}

.form__notice-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #444444;

  mix-blend-mode: normal;
}
