.hero {
  width: 567px;
  height: 373px;

  background-color: #fafafa;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
}

.hero__title {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  font-family: "PT Sans Bold";
  text-align: center;
  color: #000000;

  mix-blend-mode: normal;
}

.hero__list-item {
  &--interior {
    background-color: #63d1bb;
  } ;
  &--toys {
    background-color: #56c3b2;
  }
}

.hero__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #ffffff;

  mix-blend-mode: normal;
  text-decoration: none;
}
