.hero__wrapper {
  width: 100%;
  max-width: $vp-1150;
  margin: 0 auto;

  background-color: $color-snow;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 373px;

  @media (min-width: $vp-768) {
    padding-top: 94px;
    padding-bottom: 135px;

    background-position: 50% -60px;
    background-size: $vp-768 746px;
  }
}



.hero__title {
  margin: 0;
  padding: 73px 30px 120px 30px;


  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  font-family: $ff-open-sans;
  text-align: center;
  color: $color-default-black;

  mix-blend-mode: normal;

  @media (min-width: $vp-768) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 50px;
  }

}



.hero__list {
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    max-width: 668px;
  }

  @media (min-width: $vp-1150) {
    max-width: 1050px;
    margin-bottom: 132px;
  }
}

.hero__list-item {
  &--interior {
    background-color: $color-downy;
  } ;
  &--toys {
    background-color: $color-puerto-rico;
  }
}

.hero__link {
  display: block;
  align-items: center;
  max-height: 40px;
  padding: 24px 160px 31px 30px;


  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  font-family: $ff-open-sans;
  color: $color-default-white;
  text-decoration: none;

  mix-blend-mode: normal;
}

.hero__list-item--interior {
  @media (min-width: $vp-768) {
    width: 50%;
    height: 103px;
  }
}


