.info__title {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
  }

.info__item {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}
