.info__wrapper {
  padding: 0 30px;

  @media (min-width: $vp-768) {
    padding: 55px 50px 83px;
  }
}



.info__title {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: $ff-open-sans;
  color: $color-default-black;

  mix-blend-mode: normal;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 97px;
  }
}



.info__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 83px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $ff-open-sans;
  color: $color-default-black;

  mix-blend-mode: normal;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 110px;
  }
}



.info__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-321) {
    min-width: 260px;
    max-width: 260px;
    margin: 0 auto;
  }

  @media (min-width: $vp-768) {
    display: grid;
    max-width: 700px;
    margin: 0 auto;

    grid-template-columns: 1fr 1fr;
  }
}
