.main-footer {
  width: 100%;
  position: relative;
  max-width: $vp-1150;
  margin: 0 auto;
  background: $color-white-smoke;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__social {
  width: 100%;
  max-width: $vp-1150;
  margin: 0 auto;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 23px 7.5%;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  gap: 27px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    left: 30px;
    height: 1px;
    background-color: $color-whisper-mod;
  }
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;


  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  font-family: $ff-open-sans;
  color: $color-default-black;
  text-decoration: none;

  mix-blend-mode: normal;
}

.main-footer__logo {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $vp-768) {
    padding: 23px 7.5%;
  }
}


