.main-header {
  width: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
}

.main-header__logo-container {
  padding: 1px 0;
  box-shadow: 0 1px 0 $color-whisper, inset 0 -1px 0 $color-whisper;
}

.main-header__logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $vp-768) {
    left: 40px;
    transform: translateX(0);
  }

  @media (min-width: $vp-1150) {
    left: 50%;
    transform: translateX(-50%);
  }

}

.main-header__toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.main-header__toggle-button--closed {
  background-image: url("../img/menu.svg");
  position: absolute;
  top: 32px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}



