.main-footer {
  width: 100%;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__social {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 25px 0 28px;
  list-style: none;
  gap: 11.15%;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 23px 7.5%;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  gap: 27px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    left: 30px;
    height: 1px;
    background-color: #e5e5e5e5;
  }
}


.main-footer__copyright-link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans";
  color: #000000;
  text-decoration: none;

  mix-blend-mode: normal;
}

.main-footer__logo {}

@media (max-width: 767px) {
  .main-footer__logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-footer__logo {
    padding: 23px 7.5%;
  }
}
