.modal {
  display: none;
}

.modal__title {
  font-family: $ff-open-sans;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;


  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $color-default-black;

  mix-blend-mode: normal;
}

.modal__label {
  font-family: $ff-open-sans;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $color-charcoal;

  mix-blend-mode: normal;
}

.modal__description {
  font-family: $ff-open-sans;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;

  color: $color-charcoal;

  mix-blend-mode: normal;
}

.modal__close-button {
  background-color: $color-downy;
  font-family: $ff-open-sans;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $color-default-white;

  mix-blend-mode: normal;
  border-radius: none;
}
