.modal {
  display: none;
}

.modal__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;


  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  mix-blend-mode: normal;
}

.modal__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #444444;

  mix-blend-mode: normal;
}

.modal__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #444444;

  mix-blend-mode: normal;
}

.modal__close-button {
  background-color: #63d1bb;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  border-radius: none;
}
