.main-navigation__user-link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-default-black;
  text-decoration: none;
}

.main-navigation__site-link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-default-black;
  text-decoration: none;
}


.main-navigation__site-item {
  padding: 27px 30px 27px 76px;

  border-bottom: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    padding: 20px 37px 0 0;

    border: none;
  }

}



.main-navigation__user-item {
  padding: 27px 30px 27px 76px;

  border-bottom: 1px solid $color-whisper;

  @media (min-width: $vp-768) {
    border: 0;
  }

}

.nav-search {
  @media (min-width: $vp-768) {
    padding: 36px 31px 28px 33px;
    border-right: 1px solid $color-whisper;
    border-left: 1px solid $color-whisper;
  }
}


.main-navigation__site-link {
  display: block;

  color: inherit;
  text-decoration: none;
}


.main-navigation__user-link {
  display: block;

  color: inherit;
  text-decoration: none;
}

.main-navigation {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: $vp-1150;
  margin: 0 auto;
  padding-top: 80px;

  background-color: $color-default-white;

  @media (min-width: $vp-768) {
    padding-top: 0;

    background-color: #f2f2f2;
  }
}




.main-navigation__wrapper {
  display: grid;

  grid-template-areas: "site-nav"
  "user-nav";

  @media (min-width: $vp-768) {
    padding: 0 30px;

    grid-template-areas: "user-nav user-nav"
    "site-nav delivery-text";
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1150) {
    padding: 0;

    grid-template-areas: "site-nav user-nav"
    "news-nav delivery-text";
  }
}



.main-header__toggle-button--closed {
  @media (min-width: $vp-768) {
    display: none;
  }
}

.main-navigation__site-nav {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  grid-area: site-nav;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $vp-1150) {
    padding-right: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: -1;

    height: 100%;

    background-color: $color-default-white;
  }
}



.main-navigation__user-nav {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  grid-area: user-nav;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;

    margin-left: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: -1;

    width: 200vw;
    height: 100%;

    background-color: $color-default-white;
  }

  @media (min-width: $vp-1150) {
    width: 100%;
    padding-left: 100px;
  }
}



.main-navigation__news-nav {
  display: none;

  grid-area: news-nav;

  @media (min-width: $vp-1150) {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

.main-navigation__user-text {
  @media (min-width: $vp-768) {
    font-size: 0;
  }
}



.main-navigation__delivery-text {
  display: none;
  margin: 0;

  grid-area: delivery-text;

  @media (min-width: $vp-768) {
    display: block;
    align-items: center;
    padding: 20px 40px 20px 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: $ff-open-sans;
    text-align: right;
    color: $color-charcoal;
    text-align-last: right;

    mix-blend-mode: normal;
  }


  @media (min-width: $vp-1150) {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: $ff-open-sans;
    text-align: right;
    color: $color-charcoal;

    mix-blend-mode: normal;
  }
}
