.production {
  padding: 0 30px;
}

.production__wrapper {
  position: relative;

  min-width: 260px;
  max-width: 260px;
  margin: 0 auto;

  border: 1px solid $color-whisper;
}

.production__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 22px 13px 27px 91px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-default-black;

  mix-blend-mode: normal;
}

.production__description {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-charcoal;

  mix-blend-mode: normal;
}

.production__link {
  font-family: $ff-open-sans;
}

.production__video-play {
  position: absolute;
  top: 126px;
  left: 50%;
  padding: 0;

  border: none;
  transform: translateX(-50%);
}

.order__production {
  padding: 13px 30px 34px;
}
