.promo {
  margin: 0 auto;
  padding: 0 30px;

  background-color: $color-default-white;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 52px 50px 69px;
    grid-template-columns: 2fr 1fr;



    column-gap: 42px;
  }
}



.promo__header {
  @media (min-width: $vp-768) {
    align-items: center;
    margin-bottom: 50px;
    display: grid;
    position: relative;
    grid-column: 1/3;
  }
}

.promo__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 38px;

  font-style: normal;
  font-weight: 700;

  font-family: $ff-open-sans;
  color: $color-default-black;

  grid-column: 1/-1;
  mix-blend-mode: normal;

  @media (min-width: $vp-768) {
    margin-right: 130px;

    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
    grid-column: 1/-1;
  }
}



.promo__subtitle {
  display: flex;
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: $ff-open-sans;
  color: $color-downy;
  text-transform: uppercase;

  mix-blend-mode: normal;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 5px;
    right: 0;
    width: 126px;
    line-height: 17px;
    text-align: center;
  }
}



.promo__text {
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: $ff-open-sans;
  color: $color-charcoal;

  mix-blend-mode: normal;
}

.promo__description-list {
  margin: 0 0 28px 0;
  padding: 0;
}

.promo__description-item {
  display: flex;
  align-items: center;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: $ff-open-sans;
  color: $color-charcoal;

  border-bottom: 1px solid $color-whisper;

  mix-blend-mode: normal;
}

.promo__description-term,
.promo__description-definition {
  padding: 12px 0 12px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.promo__price {
  display: block;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: $ff-open-sans;
  text-align: center;
  color: $color-charcoal;

  mix-blend-mode: normal;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

.promo__link {
  display: block;
  align-items: center;
  margin: 24px 30px;
  padding: 16px;

  font-family: $ff-open-sans;
}
