.promo {
  margin: 0 auto;
  padding: 0 30px;

  background-color: #ffffff;
}

.promo__title {
  display: flex;
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans";
  color: #000000;

  mix-blend-mode: normal;
}

.promo__subtitle {
  display: flex;
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans";
  color: #63d1bb;
  text-transform: uppercase;

  mix-blend-mode: normal;
}

.promo__text {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans";
  color: #444444;

  mix-blend-mode: normal;
}

.promo__description-list {
  margin: 0 0 28px 0;
  padding: 0;
}

.promo__description-item {
  display: flex;
  align-items: center;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans";
  color: #444444;

  border-bottom: 1px solid #ececec;

  mix-blend-mode: normal;
}

.promo__description-term,
.promo__description-definition {
  padding: 12px 0 12px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.promo__price {
  display: block;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans";
  text-align: center;
  color: #444444;

  mix-blend-mode: normal;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

.promo__link {
  display: block;
  align-items: center;
  padding: 16px;
  margin: 24px 30px;

  font-family: "Open Sans";
}
