.promo {
  margin: 0 auto;
  padding: 0 30px;

  background-color: #ffffff;
}

@media (min-width: 768px) {
  .promo {
    display: grid;
    padding: 52px 50px 69px;


    column-gap: 42px;
  }
}



@media (min-width: 768px) {
  .promo__header {
    align-items: center;
    margin-bottom: 50px;
    display: grid;
    position: relative;
  }
}

.promo__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 38px;

  font-style: normal;
  font-weight: 700;

  font-family: "Open Sans";
  color: #000000;

  grid-column: 1/-1;
  mix-blend-mode: normal;
}

@media (min-width: 768px) {
  .promo__title {
    margin-right: 130px;

    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
    grid-column: 1/-1;
  }
}

.promo__subtitle {
  display: flex;
  align-items: center;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans";
  color: #63d1bb;
  text-transform: uppercase;

  mix-blend-mode: normal;
}

@media (min-width: 768px) {
  .promo__subtitle {
    position: absolute;
    top: 5px;
    right: 0;
    width: 126px;
    line-height: 17px;
    text-align: center;
  }
}

.promo__text {
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans";
  color: #444444;

  mix-blend-mode: normal;
}

.promo__description-list {
  margin: 0 0 28px 0;
  padding: 0;
}

.promo__description-item {
  display: flex;
  align-items: center;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans";
  color: #444444;

  border-bottom: 1px solid #ececec;

  mix-blend-mode: normal;
}

.promo__description-term,
.promo__description-definition {
  padding: 12px 0 12px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.promo__price {
  display: block;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans";
  text-align: center;
  color: #444444;

  mix-blend-mode: normal;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

.promo__link {
  display: block;
  align-items: center;
  margin: 24px 30px;
  padding: 16px;

  font-family: "Open Sans";
}
