.reviews__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.reviews__content-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}

.reviews__content-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #444444;

  mix-blend-mode: normal;
}

.reviews__author-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
  margin: 0;
}

.reviews__author-nickname {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;


  display: flex;
  align-items: center;

  color: #000000;

  mix-blend-mode: normal;
}

.reviews__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 24px 30px;
}

.reviews__controls {
  display: flex;
  min-width: 260px;
  max-width: 260px;
  margin: 0 0 38px 0;
}

.reviews__control {
  width: 50%;
  height: 52px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

