.week-product {
  position: relative;

  padding-top: 31px;
  padding-bottom: 42px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    max-width: 1050px;
    padding-top: 73px;
    padding-bottom: 68px;
    padding-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -8px;

    width: 110%;
    height: 6px;

    background-image: url("../img/background/pattern-wave-s.png");
    background-repeat: repeat-x;

    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      left: -22px;

      width: 110%;
      height: 17px;

      background-image: url("../img/background/pattern-wave-m.png");
      background-repeat: repeat-x;
    }

    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      max-width: 1050px;
      height: 25px;

      background-image: url("../img/background/pattern-wave-l.png");
      background-repeat: repeat-x;
      transform: rotate(180deg);
    }
  }
}

.week-product__title-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 134px;
    left: 0;

    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 61px;
  }
}

.week-product__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.week-product__subtitle {
  margin: 0 0 18px 0;

  font-weight: 700;
  line-height: 20px;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 100px;
    margin: -4px 13px 0 0;

    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: -10px 43px 0 32px;
  }
}

.week-product__content-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 670px;
    margin: 0 auto;

    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 470px 1fr;
    max-width: 100%;
  }
}

.week-product__description-wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
    padding: 153px 58px 0 125px;
  }
}

.week-product__text {
  max-width: 260px;
  margin: 0 auto 28px auto;

  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    max-width: 292px;
    margin: 0 0 48px 0;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.week-product__list {
  display: grid;
  max-width: 260px;
  margin: 0 auto;

  font-size: 15px;
  line-height: 20px;

  gap: 7px;

  @media (min-width: $tablet-width) {
    max-width: 292px;
    margin: 0;
  }
}

.week-product__item {
  display: grid;
  padding-bottom: 12px;

  border-bottom: 1px solid $color-whisper;

  grid-template-columns: 97px 159px;

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }
}

.week-product__value {
  margin: 0;
}

.week-product__image {
  display: block;
  width: 260px;
  height: 315px;
  margin: 0 auto 26px auto;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.week-product__image-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 12px;

    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.week-product__buy-wrapper {
  @media (min-width: $desktop-width) {
    padding-left: 125px;
  }
}

.week-product__price {
  margin: 0;

  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 71px;

    font-size: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 73px;
  }
}

.week-product__button {
  margin: 24px auto 0 auto;

  font-size: 18px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin: 32px 0 0 0;

    font-size: 17px;
  }
}
